*{
    margin: 0;
    padding: 0;
}

.scoreboard{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 40%;

    display: flex;
    justify-content: space-between;

    font-size: 30px;
}

.outcomes{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.outcomes > div{
    text-align: center;
    padding-top: 30%;
    border: 1px solid black;
    font-size: 40px; 
}

#morebtn, #extrabtn, #wicketbtn{
    font-size: 30px;
}

.wickettype{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;

    display: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.wickettype > div{
    text-align: center;
    padding-top: 22%;
    border: 1px solid black;
    font-size: 25px;
}

#runoutbtn, #hitwicketbtn{
    padding-top: 17%;
}

.extra{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;

    display: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.extra > div{
    text-align: center;
    padding-top: 30%;
    border: 1px solid black;
    font-size: 25px;
}

#widebtn, #byebtn{
    padding-top: 37%;
}

.more{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;

    display: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.more > div{
    text-align: center;
    padding-top: 30%;
    border: 1px solid black;
    font-size: 25px;
}

#declarebtn{
    padding-top: 37%;
}